<!-- Logo Placement -->
<script>
    $(document).ready(function(){
        logoHeight = Math.floor($(window).width()/5)+0;
        $("section#brand .logo").css("top",(logoHeight + "px"));


        // var avatar = $(".me_img").offset().top;
        // console.log("init: " + avatar);
        // $("section#brand .logo").css("top",((avatar-300) + "px"));

        $(window).resize(function(){
            logoHeight = Math.floor($(window).width()/5)+0;
            $("section#brand .logo").css("top",(logoHeight + "px"));
        });
    });
    
</script>

<div class="overlay fadeAnimate" ng-click="toggleNav()" ng-show="nav"></div>

<!-- Navigation -->
<div class="nav">
    <a ng-click="angScroll('reel')">video reel</a> | 
    <a ng-click="angScroll('projects')">work</a> |
    <a ng-click="angScroll('contact')">contact</a>
</div>
<button class="triggerNav ion-navicon" ng-click="toggleNav()">
    <!-- <i class="ion-navicon" ng-show="!nav"></i>
    <i class="ion-ios-close-empty" ng-show="nav"></i> -->
</button>
<div class="mobileNav slideAnimate" ng-show="nav">
    <ul>
        <li><a ng-click="mobileNav('reel')">video reel</a></li>
        <li><a ng-click="mobileNav('projects')">work</a></li>
        <li><a ng-click="mobileNav('education')">education</a></li>
        <li><a ng-click="mobileNav('skills')">skills</a></li>
        <li><a ng-click="mobileNav('contact')">contact</a></li>
    </ul>
</div>

<!-- First Section :: Introduction -->

<section id="brand">
    <img id="brand_bg" src="includes/top_bg.jpg" />
    <div class="logo"><img src="includes/logo.png"/></div>
    <!-- <div class="scrollInd"></div> -->
</section>


<!-- Second Section :: Image and Bio -->

<section id="bio">
    <div class="me">
        <div class="me_img"></div>
    </div>
    <div class="bio_content">
        <h1>I am an artist training in the fields of motion graphics and 3D visualization.</h1>
        <h2>Here is my my work.</h2>
    </div>
</section>


<!-- Third Section :: Video Reel -->

<section id="reel">
    <div class="title">Video Reel</div>
    <div class="reel_container">
        <div class="vim_wrap">
            <iframe src="//player.vimeo.com/video/113243663?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</section>


<!-- Fourth Section :: Projects -->

<section id="projects">
    <div class="title">Projects</div>
    <div class="row">
            <div class="project_cat col-lg-4 col-md-6 col-sm-12" bg-img="{{category.imgPath}}" ng-repeat="category in categories" ng-click="changeView(category.route)">
                <div class="titleOverlay">
                    <div class="c_title"><h2>{{category.title}}</h2></div>
                </div>
            </div>
    </div>
</section>   

<!-- Fifth Section :: Education -->

<section id="education">
    <div class="title">Education</div>
    <div class="content">
        <h3>Bachelor of Arts</h3>
        <h4>Digital Media &amp; Design</h4>

        <h3>Concentration 1</h3>
        <h4>2D Animation &amp; Motion Graphics</h4>

        <h3>Bachelor of Arts</h3>
        <h4>Digital Media &amp; Design</h4>

        <h3>Concentration 1</h3>
        <h4>2D Animation &amp; Motion Graphics</h4>

        <h3>Concentration 2</h3>
        <h4>3D Animation &amp; Visualization</h4>

        <h3>Concentration 3</h3>
        <h4>Digital Media &amp; Design</h4>

        <h3>Cumulative GPA</h3>
        <h4>3.553</h4>

        <h3>Awards</h3>
        <h4>Deans List(Fall 2013,2014), Fine Arts Talent Scholarship</h4>

        <h3>Relevant Courses</h3>
        <h4>Animation Lab, Design Process, Motion Graphics I, 3D Animation I, Moving Image &amp; Sequence, 3D Modeling I</h4>
    </div>
    
</section>

<!-- Sixth Section :: Skills -->

<section id="skills">
    <div class="title">skills</div>
    <div class="content">
        
        <h3>Adobe</h3>
        <h4>Photoshop, Premiere, Illustrator, InDesign, After Effects</h4>
        
        <h3>AutoDesk</h3>
        <h4>Softimage</h4>
        
        <h3>Maxon</h3>
        <h4>Cinema 4D</h4>
        
        <h3>Pilgway Studio</h3>
        <h4>3D Coat</h4>

    </div>
    
</section>

<!-- Seventh Section :: Contact -->

<section id="contact">
    <div class="title">Contact</div>
    <div class="row">
        <h2>Email me:</h2>
        <a href="mailto:jared.fischler@uconn.edu" target="_new">jared.fischler@uconn.edu</a>

        <h2>Connect with me:</h2>
        <a href="http://www.linkedin.com/in/jaredfischler" target="_new">linkedin.com/in/jaredfischler</a>

        <h2>Follow me:</h2>
        <a href="http://www.instagram.com/jared_fischler" target="_new">instagram.com/jared_fischler</a>
    </div>
</section> 