<!-- Logo Placement -->
<script>
    var logoHeight = Math.floor($(window).width()/30);
    $("section#brand .logo").css("top",(logoHeight + "%"));
</script>

<!-- Navigation -->
<div class="nav">
    <a ng-click="angScroll('reel')">video reel</a> | 
    <a ng-click="angScroll('projects')">work</a> |
    <a ng-click="angScroll('contact')">contact</a>
</div>
<button class="triggerNav" ng-click="nav = !nav">
    <i class="ion-navicon" ng-show="!nav"></i>
    <i class="ion-ios-close-empty" ng-show="nav"></i>
</button>
<div class="mobileNav slideAnimate" ng-show="nav">
    <ul>
        <li><a ng-click="mobileNav('reel')">video reel</a></li>
        <li><a ng-click="mobileNav('projects')">work</a></li>
        <li><a ng-click="mobileNav('contact')">contact</a></li>
    </ul>
</div>

<!-- First Section :: Introduction -->

<section id="brand">
    <img id="brand_bg" src="includes/top_bg.jpg" />
    <div class="logo"><img src="includes/logo.png"/></div>
    <!-- <div class="scrollInd"></div> -->
</section>


<!-- Second Section :: Image and Bio -->

<section id="bio">
    <div class="me">
        <div class="me_img"></div>
    </div>
    <div class="bio_content">
        <h1>I am a sophomore at the University of Connecticut studying Motion Graphics and 3D Visualization.</h1>
        <h2>Here is my my work.</h2>
    </div>
</section>


<!-- Third Section :: Video Reel -->

<section id="reel">
    <div class="title">Video Reel</div>
    <div class="reel_container">
        <div class="vim_wrap">
            <iframe src="//player.vimeo.com/video/113243663?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</section>


<!-- Fourth Section :: Projects -->

<section id="projects">
    <div class="title">Projects</div>
    <div class="row">
            <div class="project_cat col-lg-4 col-md-6 col-sm-12" bg-img="{{category.imgPath}}" ng-repeat="category in categories" ng-click="changeView(category.route)">
                <div class="titleOverlay">
                    <div class="c_title"><h2>{{category.title}}</h2></div>
                </div>
            </div>
    </div>
</section>  