<div class="proj_wrap">
	<div class="nav">
        <a class="back" ng-click="goBack()"><i class="ion-ios-arrow-back"></i></a>
    </div>
    <div class="desc">
		<h1>{{project.title}}</h1>
		<p>{{project.desc}}</p>
	</div>
	<div class="mainContent">
		<div class="landscapeImg htmlEmbed" ng-show="project.mainType == 'landscapeImage' || project.mainType == 'htmlEmbed'">
			<a target="_new" ng-href="includes/project_images/{{project.id}}.jpg"><img ng-show="project.mainType == 'landscapeImage'" ng-src="includes/project_images/{{project.id}}.jpg"/></a>
			
			<div class="vim_wrap" ng-show="project.mainType == 'htmlEmbed'">
				<div class="theEmbed" ng-bind-html="project.html"></div>
			</div>
		</div>
		<div class="portraitImg" ng-show="project.mainType == 'portraitImage'">
			<a target="_new" ng-href="includes/project_images/{{project.id}}.jpg"><img ng-src="includes/project_images/{{project.id}}.jpg"/></a>
		</div>

		<!-- additional images -->
		<div class="landscapeImg additional" ng-repeat="image in project.addImgs">
			<a target="_new" ng-href="includes/project_images/{{image}}.jpg"><img ng-src="includes/project_images/{{image}}.jpg"/></a>
		</div>

		<!-- additional html embeds -->
		<div class="htmlEmbed additional vim_wrap" ng-repeat="htmlBlock in project.addHtml">
			<div class="theEmbed" ng-bind-html="htmlBlock"></div>
		</div>



	</div>
	
	
</div>