body {
	background: #0d0d0d no-repeat;
}

section#brand {
	img#brand_bg {
		width:100%;
	}
	.logo {
		position:absolute;
		top:0%;
		width:345px;
		left:50%;
		margin-left:-172px;
		text-align:center;
		color:#fff;
	}
}