@media (min-width: 550px) {
	.nav {
		display: block;
		right:15px;
		left: none;
		width:auto;
		text-align:right;

		a {
			&:active {
				background-color: rgba(255,255,255,1);
				color: #000;
			}
			&:hover {
				background-color: rgba(255,255,255,1);
				color: #000;
			}
		}
		
	}
	button.triggerNav {
		display:none;
	}
	.mobileNav {
		display:none;
	}

	section#brand {
		padding-bottom:200px;

		img#brand_bg {
			width:100%;
		}
		.logo {
			position:absolute;
			top:0%;
			width:345px;
			left:50%;
			margin-left:-172px;
			text-align:center;
			color:#fff;

			img {
				width: 345px;
				height:238px;
			}
		}
	}


	section#projects {
		.row {

			.project_cat {
					
			}
		}
		
	}
	.proj_wrap {
		padding:50px;

		p {
			padding: 0px 30px;
		}

		.portraitImg {
			img {
				width:50%;
			}
		}
	}
}