@media (min-width: 750px) {
	//links
	a {
		&:hover, &:focus, &:active {
			color: #545251;
		}
	}



	//responsive vimeo wrapper /* css-tricks */
	.vim_wrap {
		position: relative;
		padding-bottom: 40%; 
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 70%;
			height: 100%;
			margin-left:15%;
		}
	}

	section#projects {
		.row {
			.project_cat {

				.titleOverlay {
					&:hover {
						background-color: rgba(0,0,0,0.8);
						.c_title {
							h2 {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	.cat_wrap {

		.project_cell {

			.titleOverlay {

				&:hover {
					background-color: rgba(0,0,0,0.8);

					.c_title {
						h2 {
							color: #fff;
						}
					}
				}
			}
		}
	}

	section#resume {
		object {
			width:80%;
			height:1000px;
		}

	}
}
