<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="js/adminScripts.js"></script>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
    <link href="bower_components/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- notifications -->
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/admin.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" media="screen" />

    <!-- Controllers -->
    <script src="js/controllers/adminController.js"></script>

</head>

<body ng-app="admin">
    <!-- Angular Injected Views -->
    <div id="admin" ng-controller="adminController" class="container">
        <h1>l'interface d'administration</h1>
        <div ng-view></div>
    </div>

</body>
</html>
